language: node_js
env:
- CXX=g++-4.8
os:
- linux
- osx
node_js:
#- '0.10'
#- '0.12'
- 4
- 5
- 6
- 7
- 8
- 9
- 10
- 11
- 12

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
sudo: false
before_install:
- if [[ $TRAVIS_OS_NAME == "osx" ]]; then export CXX=clang; fi
- $CXX --version

- PUBLISH_BINARY=false
- echo $TRAVIS_BRANCH
- echo `git describe --tags --always HEAD`

- case ${TRAVIS_NODE_VERSION} in 0.8*|0.10*) npm install -g npm@2 ;; esac
- npm config set progress false
- npm config set spin false
- npm install -g node-gyp node-pre-gyp
install:
- npm install --build-from-source
before_deploy:
- node-pre-gyp package 2>&1
deploy:
  provider: releases
  api_key: $GITHUB_ACCESS_TOKEN
  file: build/stage/libxmljs/libxmljs/releases/download/**/*.tar.gz
  file_glob: true
  skip_cleanup: true
  on:
    tags: true
