language: node_js

env:
    - CXX=g++-4.8

node_js:
    - "0.10"
    - "0.12"
    - 4
    - 6

addons:
    apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-4.8

sudo: false

before_install:
    - $CXX --version
    - case ${TRAVIS_NODE_VERSION} in 0.8*|0.10*) npm install -g npm@2 ;; esac
    - npm install node-gyp -g
